---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro'
const { currentPage } = Astro.props
---

<header>
  <nav>
    <Hamburger />
    <Navigation currentPage={currentPage} />
  </nav>
</header>
