---
const { currentPage } = Astro.props
---

<div class='nav-links'>
  <a aria-current={currentPage === 'home' ? 'page' : 'false'} href='/'>Home</a>
  <a aria-current={currentPage === 'about' ? 'page' : 'false'} href='/about/'
    >About</a
  >
  <a aria-current={currentPage === 'blog' ? 'page' : 'false'} href='/blog/'>Blog</a>
</div>

<style>
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0.25rem;
  }

  .nav-links a[aria-current='false']:is(:hover, :focus) {
    background-color: #ff9776;
  }

  .nav-links a[aria-current='page'] {
    cursor: default;
    font-weight: bold;
    color: #121212;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
</style>
